.vscode/
__pycache__/

*.jpg
*.png
*.onnx
*.pt
*.pth
*.egg-info

**/*/exp/
**/*/events*
outputs/*

data/*
log/
pretrained/
weights/*

docker-compose.yml

!assets/*
!docs/**/*
!site/**/*

!data/.gitkeep
!weights/.gitkeep