.vscode/
.ruff_cache/
__pycache__/

*.jpg
*.png
*.onnx
*.pt
*.pth
*.egg-info
*.whl
*.tar
*.gz
*.json
*.zip
*.safetensors

**/*/exp/
**/*/events*
outputs/*

data/*
log/
pretrained/
weights/*
build/
dist/

docker-compose.yml

!assets/*
!docs/**/*
!site/**/*

!data/.gitkeep
!weights/.gitkeep

# mlflow
**/mlruns/
**/mlartifacts/
