.vscode/
.ruff_cache/
__pycache__/

*.jpg
*.png
*.onnx
*.pt
*.pth
*.egg-info
*.whl

**/*/exp/
**/*/events*
outputs/*

data/*
log/
pretrained/
weights/*
build/

docker-compose.yml

!assets/*
!docs/**/*
!site/**/*

!data/.gitkeep
!weights/.gitkeep