model:
  task: classification
  name: mobilenet_v4_conv_small
  checkpoint:
    use_pretrained: True
    load_head: False
    path: ~
    fx_model_path: ~
    optimizer_path: ~
  freeze_backbone: False
  architecture:
    full: ~ # auto
    backbone:
      name: mobilenetv4
      params:
        stem_out_channel: 32
        stem_kernel_size: 3
        stem_stride: 2
        final_conv_out_channel: 960
        final_conv_kernel_size: 1
        final_conv_stride: 1
        norm_type: batch_norm
        act_type: relu
        return_stage_idx: ~
      stage_params:
        - 
          block_type: ['conv', 'conv']
          in_channels: [32, 32]
          hidden_channels: [~, ~]
          out_channels: [32, 32]
          kernel_size: [3, 1]
          stride: [2, 1]
        - 
          block_type: ['conv', 'conv']
          in_channels: [32, 96]
          hidden_channels: [~, ~]
          out_channels: [96, 64]
          kernel_size: [3, 1]
          stride: [2, 1]
        - 
          block_type: ['uir', 'uir', 'uir', 'uir', 'uir', 'uir']
          in_channels: [64, 96, 96, 96, 96, 96]
          hidden_channels: [192, 192, 192, 192, 192, 384]
          out_channels: [96, 96, 96, 96, 96, 96]
          extra_dw: [True, False, False, False, False, True]
          extra_dw_kernel_size: [5, ~, ~, ~, ~, 3]
          middle_dw: [True, True, True, True, True, False]
          middle_dw_kernel_size: [5, 3, 3, 3, 3, ~]
          stride: [2, 1, 1, 1, 1, 1]
        - 
          block_type: ['uir', 'uir', 'uir', 'uir', 'uir', 'uir']
          in_channels: [96, 128, 128, 128, 128, 128]
          hidden_channels: [576, 512, 512, 384, 512, 512]
          out_channels: [128, 128, 128, 128, 128, 128]
          extra_dw: [True, True, False, False, False, False]
          extra_dw_kernel_size: [3, 5, ~, ~, ~, ~]
          middle_dw: [True, True, True, True, True, True]
          middle_dw_kernel_size: [3, 5, 5, 5, 3, 3]
          stride: [2, 1, 1, 1, 1, 1]
    head:
      name: fc_conv
      params:
        num_layers: 2
        intermediate_channels: 1280
        act_type: relu
        norm_type: batch_norm
        dropout_prob: 0.
  postprocessor: ~
  losses:
    - criterion: cross_entropy
      label_smoothing: 0.1
      weight: ~