training:
  epochs: 30
  mixed_precision: False
  ema: ~
  max_norm: ~
  optimizer:
    name: adamw
    lr: 6e-5
    betas: [0.9, 0.999]
    weight_decay: 0.0005
    no_bias_decay: False
    no_norm_weight_decay: False
    overwrite: ~
  scheduler:
    name: cosine_no_sgdr
    warmup_epochs: 5
    warmup_bias_lr: 1e-5
    min_lr: 0.00001
    end_epoch: 25
