model:
  task: segmentation
  name: pidnet_s
  checkpoint:
    use_pretrained: True
    load_head: False
    path: ~
    optimizer_path: ~
  freeze_backbone: False
  architecture:
    full:
      name: pidnet
      m: 2
      n: 3
      channels: 32
      ppm_channels: 96
      head_channels: 128
    backbone: ~
    head: ~
  postprocessor: ~
  losses:
    - criterion: pidnet_loss
      weight: ~
      ignore_index: 255